.card-head {
    color:white;
}
.sidebar-flex {
    display:flex;
    align-items: center;
}
.sidebar .logo {
    background-color: orange;
    width:25px;
    height:25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
}
:root {
    --background:hsl( 220 20% 7%);
    --primary:hsl(35 95% 55%);
}
.revenue-card {
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    height: 300px;
    width: 500px;
    background-color:#151923;
    transition: 0.4s;
    padding-left:5px;
    padding-right:5px;
    padding-top:7px;
}
.growth-card {
    background-color: #151b2e;
    border-radius: 12px;
    color:orange;
    height: 300px;
    width: 500px;
    transition: 0.4s;
    padding-left:5px;
    padding-right:5px;
    padding-top:7px;
}
.final-card {
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    padding:5px;
    height: fit-content;
    width: 100%;
    background-color:#151923;
    transition: 0.4s;
    margin-bottom: 30px;
}
path {
    background-color: orange;
}
@media (max-width:1050px) {
    .card2 {
        display: flex;
        flex-direction: column;
    }
    .revenue-card {
        width:100%;
        height:fit-content;
     }
     .growth-card {
        width:100%;
        height:fit-content;
     }
}
@media (max-width:500px) {
    .revenue-card {
        width:60%;
        height:fit-content
    }
     .growth-card {
        width:60%;
        height:fit-content
    }
}
