@media (min-width: 1280px) {
    .cards {
        display: flex;
        gap:30px;
    }
    .card {
        height: 150px;
        width: 700px;
    }
    .big-card {
        border-radius: 12px;
        border: 1px solid #252a37;
        color:orange;
        height: 350px;
        width: 2000px;
        padding: 20px;
        background-color:#151923;
        transition: 0.4s;
    }
    #myChart {
        height:30px;
    }
    .last-card {
        width:2330px;
    }
}
@media (max-width:2484px) {
    .big-card {
        width:90%
    }
}
@media (max-width:2440px) {
    .big-card {
        width:85%;
    }
}
@media (max-width:2391px) {
    .big-card {
        width:85%;
    }
}
@media (max-width:1618px) {
    .big-card {
        width:70%;
    }
}
@media (max-width:1050px) {
    .card2 {
    display: flex;
    gap:30px;
    flex-direction: column;
    margin-top: 30px;
    }
    .big-card {
        width: 100%;
    }
    .small-card {
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 1000px){
    body {
        font-size: 23px;
    }
    .sidebar {
        transform: translateX(-100px);
        z-index: 200;
        transition: 0.3s;
    }
    .side-bar.open {
        transform: translateX(0);
    }
    .overlay {
        display:none;
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5);
        z-index: 150;
    }
    .overlay.open {
        display:block;
    }
    .content {
        margin-left: 0;
    }
    .menu {
        display:flex;
        flex-direction: column;
        gap:5px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
    }
    .menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transition: 0.3s;
    }    
    .cards {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .last-cards {
        flex-direction: column;
    }
    .card2 {
        flex-direction: column;
    }
    .big-card {
        width: 100%;
    }
    .small-card {
        width: 100%;
    }
    .last-card {
        width: 100%;
    }
}