* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #040c1a;
    font-family: Inter,system-ui,sans-serif;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard {
  display: flex;
  height: 100vh;
  gap:1rem;
  color:white;
}
.menu {
    display:flex;
    flex-direction: column;
    gap:5px;
    background: none;
    border: none;
    padding:8px;
    cursor: pointer;
    display:none;
}
.menu span {
    width:25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}
.sidebar {
  width: 250px;
  background-color:#151923;
  color: white;
  position: fixed;
  height: 100vh;
  flex-shrink: 0;
  border: 1px solid #252a37;
  position:fixed
}
.sidebar h2 {
    padding:1rem;
}
.sidebar hr {
    margin-bottom: 20px;
    border: 1px solid #252a37;
}
.top-nav .logo,.leo{
    display: none;
}
nav {
    display:flex;
    flex-direction: column;
    padding:10px;
    gap:5px;
    margin-bottom: 100%;
}
.dashboard-nav {
    background-color:rgba(255, 166, 0, 0.103) ;
    color: orange;
}
.dashboard-nav:hover {
    background-color:rgba(255, 166, 0, 0.103) ;
    color: orange;
}
.dashboard-nav:hover svg {
    background-color:rgba(255, 166, 0, 0.103) ;
    color: orange;
}
nav a {
    text-decoration: none;
    color:#818898;
    transition: 0.4s;
    display: flex;
    z-index: 100;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    gap:15px;
}

nav a:hover {
    color:orange;
    background-color: #252a37;
    border-radius: 10px;
    z-index: 100;
    color: white;
}
nav a:hover svg {
    color :white;
}
nav a svg {
    color :#818898;
    transition: 0.4s;
}
.dashboard-svg {
    color:orange;
}
.content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  margin-left: 270px;
}
.intro {
    margin-bottom: 20px;
    margin-top: 20px;
}
.cards {
    display:flex;
    gap:10px;
}
.card-flex .card-flex-head {
    color:#818898;
}
.last-cards {
    display:flex;
    gap:30px;
}
.sidebar-flex {
    display:flex;
    align-items: center;
}
.sidebar .logo {
    background-color: orange;
    width:25px;
    height:25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
}
.card {
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    height: 150px;
    width: 440px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
}
.card2 {
    display: flex;
    gap:13px;
    margin-top: 30px;
}
.small-card {
    border-radius: 12px;
    border: 1px solid #252a37;
    color:white;
    height: fit-content;
    width: 470px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
}
.small-card span {
    color:#818898;
}
.small-card h4 {
    margin-bottom: 20px;
}
.list-flex{
    display: flex;
}
.green {
    height: 10px;
    width: 10px;
    background: green;
    border-radius: 100%;
    margin-right: 10px;
}
.blue {
    height: 10px;
    width: 10px;
    background: #2bc6ff;
    border-radius: 100%;
    margin-right: 10px;
}
.yellow {
    height: 10px;
    width: 10px;
    background: yellow;
    border-radius: 100%;
    margin-right: 10px;
}
.gray {
    height: 10px;
    width: 10px;
    background: #818898;
    border-radius: 100%;
    margin-right: 10px;
}
.small-card li {
    list-style: none;
    margin-bottom: 15px;
}
.small-card ul li {
    display: flex;
}
.card .flex-red {
    color:red;
}
.big-card {
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    height: 330px;
    width: 300px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
}
.card h6 {
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    color:#818898;
}
.card-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card h2 {
    color:white;
    margin-bottom: 10px;
}
.card span {
    background-color: #f99e1f1a;
    padding:5px;
    border-radius: 7px;
    color: orange;
}
.last-card {
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    height: 400px;
    width: 1040px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.project-flex {
    display: flex;
    gap:50px;
}
table {
    width: 700px;
}
th {
    color:#818898;
    text-align: left;
}
tbody td {
  border-bottom: 2px solid #1e2736;
}
.intro h1 {
    margin-bottom: 5px;
    color:white;
    font-size: 1.5rem;
    line-height: 2rem;
}
.intro p {
    color: #818898;
    font-family: Inter, system-ui, sans-serif;
    font-size: 15px;
    opacity: 0.8;
}
.card p {
    color:green;
    font-size: 14px;
}
.card .plain {
    color: #818898;
}
.white {
    color: white;
}
.greys {
    color:#818898;
}
.bar-72 {
    width:100px;
    background:linear-gradient( to right,orange 72%, hsl(220 15% 15%) 28%);
    height:8px;
    border-radius: 20px;
}
.bar-90 {
    width:100px;
    background:linear-gradient( to right,orange 90%, hsl(220 15% 15%) 10%);
    height:8px;
    border-radius: 20px;
}
.bar-45 {
    width:100px;
    background:linear-gradient( to right,orange 45%, hsl(220 15% 15%) 55%);
    height:8px;
    border-radius: 20px;
}
.bar-15 {
    width:100px;
    background:linear-gradient( to right,orange 15%, hsl(220 15% 15%) 85%);
    height:8px;
    border-radius: 20px;
}
table {
    width: 100%;
    height:300px;
}
.high {
    background-color: #fa07072a;
    color:red;
    border-radius: 20px;
    width:70px;
    display: flex;
    justify-content: center;
}
.medium {
    background-color: rgba(255, 255, 0, 0.116);
    color:yellow;
    border-radius: 20px;
    width:70px;
    display: flex;
    justify-content: center;
}
.low {
    background-color: rgba(0, 250, 0, 0.103);
    color:green;
    border-radius: 20px;
    width:70px;
    font-size: 17px;
    display: flex;
    justify-content: center;
}
.bar-flex {
    display:flex;
    align-items: center;
    gap:10px;
}
.theme-button {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.last-hr {
     margin-top: 260px;
}
.log-out {
    display: flex;
    color: #818898;
    gap: 15px;
    margin-left: 15px;
    padding: 10px;
    transition: 0.4s;
}
.log-out:hover {
    color:orange;
    background-color: #252a37;
    border-radius: 10px;
    z-index: 100;
    color: white;
}
.log-out:hover svg{
    color:white
}
.moon{
    display:none;
    color:#818898;
}
.moon {
    color:black;
}
button p {
    font-size: small;
    color:white;
}
[data-theme="light"] .sun  { display: none; }
[data-theme="light"] .moon { display: inline;color:black; }
[data-theme="light"] body { background: rgba(255, 255, 255, 0.801); color:black}
[data-theme="light"] h3 { color:black; }
[data-theme="light"] .sidebar {background-color: white; border: 1px solid #e2e4e9;}
[data-theme="light"] .sidebar h2 {color:black}
[data-theme="light"] h2 {color:black}
[data-theme="light"] .small-card p {color:black}
[data-theme="light"] td {color:black}
[data-theme="light"] hr {border: 1px solid #e2e4e9;}
[data-theme="light"] .card {background-color: #ffffff;border:1px solid #e2e4e9;color:black}
[data-theme="light"] .small-card {background-color: #ffffff;border:1px solid #e2e4e9}
[data-theme="light"] .big-card {background-color: #ffffff;border:1px solid #e2e4e9}
[data-theme="light"] .last-card {background-color: #ffffff;border:1px solid #e2e4e9}