body {
    font-size: 14px;
}
.intro-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.new-project {
    background-color: orange;
    color:white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    border: none;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top: 40px;
}
.project-card {
    border-radius: 12px;
    border: 1px solid thistle;
    color:orange;
    height: 210px;
    width: 320px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
    padding: 10px;
}
.project-flex {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.point {
    height:15px;
    width:15px;
    border-radius: 100%;
    background-color: yellow;
}
.project-flex .fullstop {
    background: none;
    border: none;
    font-size: large;
    color:white;
    margin-top: 17px;
}
.progress {
    width:100px;
    height:20px;
    border: 1px solid white;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
}
.date {
    color:rgba(255, 255, 255, 0.267);
    margin-top: 20px;
}
.project-flex p {
    color:rgba(255, 255, 255, 0.267);
}
.project {
    margin-left: 20px;
    color:white;
}
.project-bar-72 {
    width:300px;
    background:linear-gradient( to right,orange 72%, hsl(220 15% 15%) 28%);
    height:8px;
    border-radius: 20px;
}
.project-bar-45 {
    width:300px;
    background:linear-gradient( to right,orange 45%, hsl(220 15% 15%) 55%);
    height:8px;
    border-radius: 20px;
}
.members {
    margin-top: 20px;
    color:rgba(255, 255, 255, 0.267);
}
.completed {
    width:100px;
    height:20px;
    border: none;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
    background-color: orange;
}
.project-bar-100 {
    width:300px;
    background:orange;
    height:8px;
    border-radius: 20px;
}
.planning {
    width:100px;
    height:20px;
    border: 1px solid white;
    background-color:#252a37;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
}
.project-bar-50 {
    width:300px;
    background:linear-gradient( to right, orange 50%, hsl(220 15% 15%) 50% );
    height:8px;
    border-radius: 20px;
}
.project-bar-60 {
    width:300px;
    background:linear-gradient( to right, orange 60%, hsl(220 15% 15%) 40% );
    height:8px;
    border-radius: 20px;
}
@media (min-width: 1280px) {
    .project-card {
        height: 250px;
        width: 100%;
    }
    .project-bar-100 {
        width:100%;
    }
    .project-bar-45 {
        width:100%;
    }
    .project-bar-50 {
        width:100%;
    }
    .project-bar-60 {
        width:100%
    }
    .project-bar-72 {
        width:100%;
    }
}
@media (max-width:2605px) {
    .project-card {
        width:730px;
    }
}
@media (max-width:2550px) {
    .project-card {
        width:100%;
    }
}
@media (max-width:2450px) {
    .project-card {
        width:650px;
    }
}
@media (max-width:2300px) {
    .project-card {
        width:100%;
    }
}
@media (max-width:2200px) {
    .project-card {
        width:100%;
    }
}
@media (max-width:1440px) {
    .project-card {
        width:100%;
    }
}
@media (max-width:1040px) {
    .project-card {
        width:100%;
    }
    .project-bar-100,.project-bar-45,.project-bar-50,.project-bar-60,.project-bar-72 {
        width:100%;
    }
    .project-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:1040px) {
    .project-cards {
        display:flex;
        flex-direction: column;
    }
    .project-card {
        width:100%;
    }
}
