body {
    font-size: 14px;
}
.intro-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.new-project {
    background-color: orange;
    color:white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    border: none;
    transition: 0.4s;
}
.new-project:hover {
    background-color: rgb(70, 46, 2);
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top: 40px;
}
.project-card {
    border-radius: 12px;
    border: 1px solid #252a37;
    color:orange;
    height: 210px;
    width: 320px;
    padding: 20px;
    background-color:#151923;
    transition: 0.4s;
    padding: 10px;
}
.sidebar-flex {
    display:flex;
    align-items: center;
}
.sidebar .logo {
    background-color: orange;
    width:25px;
    height:25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
}
.project-flex {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.point {
    height:15px;
    width:15px;
    border-radius: 100%;
    background-color: yellow;
}
.project-flex .fullstop {
    background: none;
    border: none;
    font-size: large;
    color:white;
    margin-top: 17px;
}
.progress {
    width:100px;
    height:20px;
    border: 1px solid white;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
}
.date {
    color:rgba(255, 255, 255, 0.267);
    margin-top: 20px;
}
.project-flex p {
    color:rgba(255, 255, 255, 0.267);
}
.project {
    margin-left: 20px;
    color:white;
}
.project-bar-72 {
    width:300px;
    background:linear-gradient( to right,orange 72%, hsl(220 15% 15%) 28%);
    height:8px;
    border-radius: 20px;
}
.project-bar-45 {
    width:300px;
    background:linear-gradient( to right,orange 45%, hsl(220 15% 15%) 55%);
    height:8px;
    border-radius: 20px;
}
.members {
    margin-top: 20px;
    color:rgba(255, 255, 255, 0.267);
}
.completed {
    width:100px;
    height:20px;
    border: none;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
    background-color: orange;
}
.project-bar-100 {
    width:300px;
    background:orange;
    height:8px;
    border-radius: 20px;
}
.planning {
    width:100px;
    height:20px;
    border: 1px solid white;
    background-color:#252a37;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 15px;
    padding:10px;
    font-size: 14px;
}
.project-bar-50 {
    width:300px;
    background:linear-gradient( to right, orange 50%, hsl(220 15% 15%) 50% );
    height:8px;
    border-radius: 20px;
}
.project-bar-60 {
    width:300px;
    background:linear-gradient( to right, orange 60%, hsl(220 15% 15%) 40% );
    height:8px;
    border-radius: 20px;
}
@media (min-width: 1280px) {
    body {
        font-size: 14px;
    }
    .project-card {
        height: 250px;
        width: 100%;
    }
    .project-bar-100 {
        width:100%;
    }
    .project-bar-45 {
        width:100%;
    }
    .project-bar-50 {
        width:100%;
    }
    .project-bar-60 {
        width:100%
    }
    .project-bar-72 {
        width:100%;
    }
}
@media (max-width:2605px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:730px;
    }
}
@media (max-width:2550px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:100%;
    }
}
@media (max-width:2450px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:650px;
    }
}
@media (max-width:2300px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:100%;
    }
}
@media (max-width:2200px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:100%;
    }
}
@media (max-width:1440px) {
     body {
        font-size: 14px;
    }
    .project-card {
        width:100%;
    }
}
@media (max-width:1040px) {
     body {
        font-size: 20px;
    }
    .project-card {
        width:100%;
        height: fit-content;
    }
    .project-bar-100,.project-bar-45,.project-bar-50,.project-bar-60,.project-bar-72 {
        width:100%;
    }
    .project-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:1040px) {

     body {
        font-size: 20px;
    }
    .project-cards {
        display:flex;
        flex-direction: column;
    }
    .project-card {
        width:100%;
    }
}
@media (min-width: 0px) and (max-width: 1000px){
    body {
        font-size: 23px;
    }
    .sidebar {
        transform: translateX(-120%);
        z-index: 200;
        transition: 0.3s;
        height: 100vh;
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .overlay {
        display:none;
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5);
        z-index: 150;
    }
    .top-nav-flex {
        display: flex;
        align-items: center;
        gap:5px;
    }
    .top-nav-flex .logo {
        width:40px;
        height:40px;
        margin-right: 20px;
        background-color: orange;
        border-radius: 7px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
    }
    .leo {
        display: block;
    }
    nav a{
        font-size: 20px;
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 7px;
        line-height: 2;
    }
    .top-nav-flex h2 {
        font-size: 23px;
    }
    .overlay.open {
        display:block;
    }
    .top-nav {
        width: 100vw;
        background-color:#151923;
        border: 1px solid #252a37;
        height:70px;
        padding: 10px;
    }
    .last-hr {
        margin-top: 1200px;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
    }
    .content {
        margin-left: 0;
    }
    .menu {
        display:flex;
        flex-direction: column;
        gap:5px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
    }
    .menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transition: 0.3s;
    }    
    .cards {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .intro p {
        font-size: 26px;
    }
    .intro h3 {
        font-size: 30px;
    }
    .project-card {
        width: 100%;
    }
    .last-cards {
        flex-direction: column;
    }
    .card2 {
        flex-direction: column;
    }
    .big-card {
        width: 100%;
    }
    .small-card {
        width: 100%;
    }
    .last-card {
        width: 100%;
    }
}
